In [1]:
import pandas as pd

In [2]:
dashboard = pd.read_csv('dashboard.csv')

In [3]:
dashboard = dashboard[dashboard['total_mdrs_both'] < 1000]

In [4]:
dashboard.reset_index(inplace=True, drop=True)

In [5]:
print(min(dashboard['total_mdrs_both']))
print(max(dashboard['total_mdrs_both']))

1
995

In [6]:
dashboard.imdrf_codes[:10]

0                ['A090809']
1                         []
2                         []
3                ['A090809']
4    ['A26', 'E2401', 'F24']
5                         []
6                         []
7                         []
8                ['A090810']
9                         []
Name: imdrf_codes, dtype: object

In [7]:
dashboard.head()

,manufacturer_name,brand,k_numbers,nlp_product_problem,model_number,lot_number,total_mdrs_recall,is_scope_model,is_scope_lot,imdrf_codes,total_mdrs_both
0,"BAYER HEALTHCARE, LLC",CONTOUR TEST STRIPS,K062058,"[E1206, A24, E1205]",9507C,9CC3C51,2,Yes,No,['A090809'],480
1,BAYER HEALTHCARE LLC,CONTOUR TEST STRIPS,K062058,"[E1206, A24, E1205]",7097C,1GC3D13,2,No,No,[],480
2,BAYER HEALTHCARE LLC,CONTOUR TEST STRIPS,K062058,"[E1206, A24, E1205]",7080G,0EC3D05,2,No,No,[],480
3,BAYER HEALTHCARE LLC,CONTOUR TEST STRIPS,K062058,"[E1206, A24, E1205]",7098B,1GC3D02,2,No,No,['A090809'],480
4,BAYER HEALTHCARE LLC,CONTOUR TEST STRIPS,K062058,"[E1206, A24, E1205]",7097C,1DC3C06,2,No,No,"['A26', 'E2401', 'F24']",480

### Transform the string list into a list of string
`ast` and `eval` not working?

In [8]:
def trasforming_lists(row_val):
    cleaned_item = row_val.strip('[]').replace(' ', '').replace("'",'')
    if ',' in cleaned_item:
       return cleaned_item.split(',')
    else:
       return [cleaned_item]

In [9]:
dashboard['nlp_product_problem'] = dashboard['nlp_product_problem'].apply(trasforming_lists)

In [10]:
dashboard['nlp_product_problem'][0][0]

'E1206'

In [11]:
dashboard['imdrf_codes'] = dashboard['imdrf_codes'].apply(trasforming_lists)

In [12]:
dashboard['imdrf_codes'][0][0]

'A090809'

### Produce a count of imdrf codes per k_number

In [13]:
import pandas as pd

# Create a list of unique k_numbers
unique_k_numbers = dashboard['k_numbers'].unique()

# Create an empty list to store the results
result = []

# Iterate through each k_number
for k_number in unique_k_numbers:
    subset = dashboard[dashboard['k_numbers'] == k_number]
    imdrf_counts = {}

    # Count the occurrences of imdrf_codes within the subset
    for _, row in subset.iterrows():
        imdrf_codes = row['imdrf_codes']
        for code in imdrf_codes:
            if code in imdrf_counts:
                imdrf_counts[code] += 1
            else:
                imdrf_counts[code] = 1

    # Create a new row with k_number, imdrf_code, and count
    for code, count in imdrf_counts.items():
        result.append({'k_numbers': k_number, 'imdrf_codes': code, 'count': count})

# Create a new dataframe from the result list
result_df = pd.DataFrame(result)

In [14]:
result_df.head()

  k_numbers imdrf_codes  count
0   K062058     A090809    118
1   K062058                296
2   K062058         A26      5
3   K062058       E2401      5
4   K062058         F24      5

In [15]:
result_df.to_csv('imdrf_codes_count.csv', index=False)

In [17]:
dashboard.to_csv('dashboard_under_1k.csv', index=False)

In [ ]:
full_lst = [] 

# Create a list of unique k_numbers
unique_k_numbers = dashboard['k_numbers'].unique()

# Iterate through each k_number
for k_number in unique_k_numbers:
    # Filter the dataset for the current k_number
    subset = dashboard[dashboard['k_numbers'] == k_number]
    
    
    temp = {}
    temp[k_number] = {}
    for row in subset.imdrf_codes:
        for item in row:
            if item not in temp[k_number]:
                temp[k_number][item] = 1
            else:
                temp[k_number][item] += 1
    full_lst.append(temp)